* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    -webkit-font-smoothing: subpixel-antialiased;
}
@font-face {
	font-family: 'Druk Wide';
	src: url('fonts/Druk Wide Medium.eot');
	src: url('fonts/Druk Wide Medium.woff') format('woff'),
    url('fonts/Druk Wide Medium.ttf') format('truetype'),
    url('fonts/Druk Wide Medium.svg') format('svg');
	font-weight: normal;
}
.container {
    margin: 0 auto;
    max-width: 2660px;
    width: 100%;
}
.wrapper {
    background: #1F2326;
}
.bg-frame {
    position: relative;
    background: #1F2326;
    height: 2323px;
    width: 100%;
    overflow: hidden;
}
.bg-box {
    display: flex;
    align-items: center;
    padding: 80px 0 0 80px;
    position: relative;
    z-index: 11;
}
.bg-logo {
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 25px;
}
.logo {
    width: 100%;
    height: 100%;
}
.bg-text {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #F8F8F8;
}
.circle {
    border-radius: 50%;
    position: absolute;
}
.circle-44 {
    background: #FF4656;
    width: 44px;
    height: 44px;
    top: 30px;
    right: 220px;
}
.circle-63 {
    background: #505155;
    width: 63px;
    height: 63px;
    left: 112px;
    bottom: 178px;
}
.circle-98 {
    background: #505155;
    width: 98px;
    height: 98px;
    top: 475px;
    right: 55px;
}
.circle-268 {
    background:#FFF;
    width: 268px;
    height: 268px;
    top: 110px;
    right: 105px
}
.circle-470 {
    background:#FFF;
    width: 470px;
    height: 470px;
    bottom: -261px;
    left: 177px;
    
}
.circle-1443 {
    background: #292C31;
    width: 1443px;
    height: 1443px;
    bottom: -512px;
    right: -362px;
}
.circle-2215 {
    background: #FF4656;
    width: 2215px;
    height: 2215px;
    top: -711px;
    left: -385px;
    z-index: 1;
}
.content-page {
    position: relative;
    padding: 40px 0 300px 0;
    z-index: 22;
    overflow: hidden;
}
.header {
    display: flex;
    align-items: center;
    background: #1F2326;
    padding: 50px 0 50px 75px;
    border: 1px solid #FF4656;
    border-radius: 40px 40px 0 0;
}
.logo-box {
    display: flex;
    
}
.riot img {
    width: 100%;
    height: 100%;
}
.riot {
    max-width: 140px;
    width: 100%;
    padding-right: 60px;
    border-right: 2px solid #ffffff;
    flex: 1 0 auto;
}
.fox {
    margin-left: 60px;
}
.menu-list, .menu-list a, .login-text {
    display: flex;
    align-items: center;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    list-style: none;
    transition: all .2s ease;
}
.menu-list a:hover, .login-nav:hover, .news-text:hover, .discover-text:hover {
    color: #FF4656;
    transition: all .2s ease;
}
.menu-list li {
    margin-right: 65px;
}
.menu-list li:last-child{
    margin-right: 750px;
}
.news-text, .discover-text, .login-text, .login-img {
    margin-right: 15px;
    transition: all .2s ease;
}
.top-menu {
    margin-left: 90px;
}
.top-menu__news, .top-menu__discover {
    display: flex;
    align-items: center;
}
.login-box, .login-nav {
    display: flex;
    align-items: center;
}
.login-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.main-body {
    background: url(img/main/bg.png) center / cover no-repeat;
    mix-blend-mode: multiply;
    height: 1499px;
    background-color: #FF4656;
}
.hero-pick {
    display: flex;
    padding: 100px 0;
}
.hero-box {
    position: relative;
    background: #1F2326;
    margin-right: 140px;
}
.hero-icon._white {
    background: #FFF;
    border: 0;
}
.hero-name._white {
    -webkit-text-stroke: 3px #1F2326;
    -webkit-text-fill-color: transparent;
}
.hero-ability__inner._white, .hero-ability._white, .hero-box._white {
    background: #FFF;
}
.hero-frame-text {
    font-family: "Druk Wide";
    font-weight: 500;
    font-size: 156px;
    letter-spacing: 0.1em;
    writing-mode: vertical-lr;
    -webkit-text-stroke: 3px #fff;
    -webkit-text-fill-color: transparent;

    margin: 0 110px 0 190px;
}
.hero-icon {
    background: #1F2326;
    border: 2px solid #1F2326;
    border-radius: 5px 0 0 0;
}
.hero-name, .hero-country {
    position: absolute;
    left: 0;
    top: 0;
    writing-mode: vertical-lr;
    width: 100%;
    height: 100%;
}
.hero-country {
    font-family: "Druk Wide";
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: #FF4656;
    top: 40px;
    left: 50px;
}
.hero-name {
    font-family: "Druk Wide";
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 94px;
    letter-spacing: 0.1em;
    -webkit-text-stroke: 3px #fff;
    -webkit-text-fill-color: transparent;
    top: 40px;
    left: -43px;
}
.hero-ability   {
    position: absolute;
    width: 440px;
    height: 110px;
    background: #1F2326;
    border: 2px solid #F8F8F8;
    box-sizing: border-box;
    left: 30px;
    bottom: -30px;
}
.short {
    transform: translate(0px, 40px);
}
.hero-ability {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.hero-ability img {
    width: 100%;
    height: 100%;
}
.ability-img {
    max-width: 65px;
    width: 100%;
}
.hero-ability__inner {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;  
}
.hero-ability._hover {
    background-color: #FFF;
}
.hero-name._hover {
    -webkit-text-stroke: 3px #1F2326;
}
.hero-icon._hover {
    background-color: #fff;
}
.footer-body {
    position: relative;
    height: 132px;
    background-color: #fff;
    border-radius: 0 0 40px 40px;
}
.skill-description{
    width: 724px;
    height: 248px;
    background: #F8F8F8;
    border: 2px solid #000000;
    position: absolute;
}
.skill-description._st {
    left: -125px;
    top: -200px;
}
.skill-description._nd {
    left: 680px;
    top: -200px;
}
.skill-description._rd {
    right: 450px;
    top: -200px;
}
.slider {
    position: absolute;
    width: 219px;
    height: 248px;
    top: -200px;
    right: 130px;
    background: #F8F8F8;
    border: 2px solid #000000;
}
.skill-type {
    font-family: "Druk Wide";
    font-weight: 500;
    font-size: 40px;
    color: #C4C4C4;
    margin-bottom: 30px;
}
.skill-tree {
    font-family: "Druk Wide";
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-bottom: 30px;
}
.skill-descr {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #1F2326;
    max-width: 315px;
    width: 100%;
}
.description-text {
    width: 100%;
    height: 100%;
    padding: 20px 0 0 60px;
}
.description-icon {
    position: relative;
}
.descr-icon {
    position: absolute;
    width: 167px;
    bottom: 50px;
    right: 70px;
}
.descr-icon img {
    width: 100%;
}
.bg-object {
    position: absolute;
    width: 190px;
    height: 182px;
    right: 120px;
    bottom: 0;
    background: #FF4656;
}
.slider-nav {
    position: relative;
    width: 100%;
    height: 100%;
}
.slider-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:2233px) {
    .circle-2215 {
        width: 1550px;
        height: 1550px;
        top: -498px;
        left: -270px;
    } 
    .circle-1443 {
        width: 1010px;
        height: 1010px;
        bottom: -358px;
        right: -253px;
    }
}